* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-row: auto 1fr auto;
    height: 100%;
}

header {
    background-color: salmon;
    grid-column: 1/4;
}

aside {
    background-color: aqua;
}

main {
    background-color: brown;
}

footer {
    background-color: blue;
    grid-column: -4/-1;
}

@media screen and (max-width:680px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}