* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

div {
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-row: 3fr 6fr 3fr;
    height: 100%;
}

header {
    background-color: salmon;
    grid-column: 1/4;
}

aside {
    background-color: aqua;
    grid-row: span 2;
}

main {
    background-color: brown;
}

footer {
    background-color: blue;
    grid-column: -3/-2;
}