* {
    margin: 0;
    padding: 0;
}

.grid_container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 3fr 6fr 3fr;
    grid-gap: 1rem;
}

header {
    background-color: red;
    grid-column: 1 /3;
}

aside {
    background-color: aqua;
    grid-row: 2 /4;
    padding-left: 2%;
}

main {
    background-color: black;
    color: white;
}

footer {
    background-color: blue;
    grid-column: -2 / -1;
    color: white;
}